{% extends "bootstrap/base.html" %}
{% block title %} Hackathon {% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Hackathon</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/rest_post">商家</a></li>
                <li><a href="/buyer">用户</a></li>
                <li><a href="/sender">配送</a></li>
                {%if kv%}
                    {%if kv['login'] == 1%}
                    <li class="pull-right"><a href='/logout'>退出</a></li>
                    {%else%}
                    <li class="pull-right"><a href='/login'>登陆/注册</a></li>
                    {%endif%}
                {%else%}
                <li class="pull-right"><a href='/login'>登陆/注册</a></li>
                {%endif%}

            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert">&times;</button>
{{ message }}
</div>
{% endfor %}

{% block page_content %}

    <div class="carousel" data-role="carousel">
        <div class="slides">
            <div class="slide image" id="slide1">
                <img />
                <div class="description">
                    Description text here...
                </div>
            </div>
 
            <div class="slide mixed" id="slide2">
                <img />
                <div class="description">
                    Description text here...
                </div>
            </div>
            ...
        </div>
 
        <span class="control left">‹</span>
        <span class="control right">›</span>
 
    </div>
    


{% endblock %}
</div>

{% block scripts %}
{{  super() }}
{{ moment.include_moment() }}
{% endblock %}


{% endblock %}