{% extends "base.html" %}
{%block page_content%}

<html>
<head>
	<title>用户主页</title>
</head>
{%if kv['login'] != 1%}
<meta http-equiv="refresh" content="1; url='/login'">
{%else%}
<body>
	<h1>用户主页</h1>
   <a class="btn btn-danger btn-lg btn-block " href="/user_commit">订单提交</a>
   
   <h2 class="text-success">用户订单查询</h2>
   <p>当前时间：{{ moment(current_time).format('LLL') }}</p>
   

   <div>
{% for order in orders %}
<div class="bs-example">
    <table class="table">
        <thead>
            <tr>
                <th>订单信息</th>
                <th>信息</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>订单号</td>
                <td>{{order['order_id']}}</td>
            </tr>

             <tr>
                <td>创建时间</td>
                <td>{{ order['created_at']}}</td>
            </tr>

             <tr>
                <td>价格</td>
                <td>{{ order['total_price']}}</td>
            </tr>

             <tr>
                <td>餐厅名称</td>
                <td>{{ order['restaurant_name']}}</td>
            </tr>

             <tr>
                <td>订单状态</td>
                {%if order['status'] == 'making'%}
               <td>美食制作中</td>
               {%endif%}
               {%if order['status'] == 'on_the_way'%}
               <td>配送中</td>
               {%endif%}
               {%if order['status'] == 'done'%}
               <td>已完成</td>
               {%endif%}
            </tr>

        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ url_for('order_detail', order_id=order['order_id'])}}">详细</a>
    
</div>
<br /><br /><br />

{%endfor%}





</body>
{%endif%}
</html>
{%endblock%}