{% extends "base.html"%}

{% block title%}配送人员抢单{% endblock%}

{% block content %}

<head>
	<title>外卖配送单信息</title>
</head>
	<div class="row">
		<div class="col-md-8">
			<p>地图</p>
		</div>
		<div class="col-md-4">
			<h2>最新外卖配送单列表</h2>
			{% for order in orders %}

				<script>
		if ({{order['latitude']}} > 5)
{
document.write("<div>")
document.write("<li>")
document.write("订单号{{order['order_id']}} <br />")
document.write("用户号{{order['user_id']}} <br />")
document.write("配送费{{order['dispatch_price']}} <br />")
document.write("商家完成时间{{order['ready_time']}} <br />")
document.write("商家地址{{order['rest_address']}} <br />")
document.write("客户地址{{order['address']}} <br />")
document.write("最晚送达时间{{order['deliver_time']}} <br />")
document.write("电话{{order['phone']}} <br />")
document.write("维度{{order['latitude']}} <br />")
document.write("经度{{order['longitude']}} <br />")
document.write("</li>")
document.write("</div>")

}
		</script>
		{%endfor%}
		</div>
	</div>
</body>
</html>
{%endblock%}
