{% extends "base.html"%}

{% block title%}配送人员抢单{% endblock%}

{% block content %}

<head>
	<title>外卖配送单信息</title>
</head>
<body>
	<h1>配送人员抢单页面</h1>
	{% for order in orders %}
	<li>
		<div>
			订单号{{order['order_id']}} <br />
			用户号{{order['user_id']}} <br />
			配送费{{order['dispatch_price']}} <br />
			地址{{order['address']}} <br />
			电话{{order['phone']}} <br />
			维度{{order['latitude']}} <br />
			经度{{order['longitude']}} <br />
		</div>
	</li>
	{% endfor %}
	<div class="row">
		<div class="col-md-8">
			<p>地图</p>
		</div>
		<div class="col-md-4">
			<h>最新外卖配送单列表</h>


		</div>
	</div>
</body>
</html>
{%endblock%}
