{% extends "base.html" %}

{%block page_content%}
  <body>

    <div class="col-md-6 col-md-offset-3" id="aaa">

      <form class="form-signin" method="post" action={{url}}>
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="username" name="username"  id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-primary btn-block" id = “submit” type="submit">Sign in</button>
      </form>
      <a href="reg">Register Now</a>


    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>

{%endblock%}
