{% extends "base.html" %}

{% block title %} 注册 {% endblock %}

{% block page_content%}

<body>

	<div class="col-md-6 col-md-offset-3" id="aaa">

		<form class="form-signin" method="post" action={{url}}>
			<h2 class="form-signin-heading">Register Page</h2>
			<label for="inputEmail" class="sr-only">Username</label>
			<input type="username" name="username"  id="username" class="form-control" placeholder="Username" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" name="password" id="password" class="form-control" placeholder="Password" required>

			<select name = "type" class="form-control">
   	 		<option value="0">买家</option>
    			<option value = "1">商户</option>
    			<option value = "2">配送</option>
  			</select>


			<div class="checkbox">
			</div>
			<button class="btn btn-primary btn-block" id = “submit” type="submit">Submit</button>
		</form>


	</div> <!-- /container -->


	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>

{% endblock%}
