{% extends "base.html" %}

{% block title %} Info {% endblock %}

{% block page_content %}
<body>
   <h1>用户订单状态</h1>
   <p>当前时间：{{ moment(current_time).format('LLL') }}</p>
   <div>
      {% for order in orders %}
        <div>
        ID:{{ order['order_id']}} <br />
        创建时间{{ order['created_at']}} <br />
        价格{{ order['total_price']}} <br />
        餐厅名称{{ order['restaurant_name']}} <br />
        状态:{{ order['status']}} <br />
        <a class="btn btn-primary" href="{{ url_for('order_detail', order_id=order['order_id'])}}">详细</a>
        <br />
      </div>
      {% endfor %}
   </div>

</body>
{% endblock %}


